# แบบทดสอบการจัดการกับ List

In [1]:
# นายธนดล พฤทธิบุญญกุล 6812732106

In [80]:
lt = [1, 2, 3, 4, 5]

## 1. เพิ่มข้อมูลเข้าไปใน list ทีละตัว

100, 200, 300, 400

In [81]:
lt.append(100)

In [82]:
lt.append(200)

In [83]:
lt.append(300)

In [84]:
lt.append(400)

In [85]:
print(lt)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 2. นำ List เพิ่มเข้าใน lt

In [86]:
sub = [6, 7, 8, 9, 10]

In [87]:
lt.append(sub)

In [88]:
lt

[1, 2, 3, 4, 5, 100, 200, 300, 400, [6, 7, 8, 9, 10]]

## 3. เข้าถึงเข้ามูลตัวสุดท้ายภายใน list

In [89]:
lt[-1]

[6, 7, 8, 9, 10]

## 4. นำข้อมูลตัวสุดท้ายออกจาก list

In [90]:
print(lt.pop())
print(lt)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 200, 300, 400]

## 5. นำข้อมูลตัวที่ 5 ออกจาก list

In [91]:
del lt[4]

In [92]:
lt

[1, 2, 3, 4, 100, 200, 300, 400]

## 6. เพิ่มคำว่า "Python" เข้าไปใน list ตำแหน่งที่ 3

In [93]:
lt.insert(2,"python")

In [94]:
lt

[1, 2, 'python', 3, 4, 100, 200, 300, 400]

## 7. ลบข้อมูลในตำแหน่งที่ 6 ออกจาก list

In [95]:
del lt[5]

In [96]:
lt

[1, 2, 'python', 3, 4, 200, 300, 400]

## 8. แสดงจำนวนสมาชิกภายใน list

In [97]:
print(lt)

[1, 2, 'python', 3, 4, 200, 300, 400]

## 9. reverse list

In [98]:
lt[::-1]
lt

[1, 2, 'python', 3, 4, 200, 300, 400]

In [99]:
"python"[::-1]

'nohtyp'

## 10. เคลียร์ list ให้เป็น list ว่าง

In [101]:
lt.clear()

In [79]:
lt

[]